/* reset */
html, body, a, ul, li {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

/* Font and Text */
a {
  color: #fff;
  text-decoration: none;
}
a:link {
  color: #fff;
}
a:visited {
  color: #fff;
}
a:hover {
  color: #000000;
}
a:active {
  color: #000000;
}

h1 {
  font-family: 'Comfortaa', cursive;
  font-size: 2.0em;
  text-align: left;
  color: #fff;
  line-height: 0;
}

h2 {
  font-family: 'Comfortaa', cursive;
  font-size: 1.8em;
  text-align: left;
  color: #fff;
  line-height: 0;
}

body {
  font-family: "Times New Roman";
  font-size: 1.2em;
  text-align: justify;
  color: #fff;
}

#header {
  text-align: center;
  text-transform: uppercase;
}

#header a {
  font-size: 25px;
}

#footer {
  font-family: 'Comfortaa', cursive;
  font-size: 1.8em;
  text-align: center;
  color: #fff;
  line-height: 0;
  text-transform: uppercase;
}

/* background */
body {
  background-color: #fff;
}

#header-internal, #content, #footer {
  background: #fb8100;
}

/* shape and layout */
#wrapper {
  width: 90%;
  max-width: 800px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

div {
  margin-bottom: 5px;
  margin-top: 5px;
}

#header-internal {
  padding: 10px;
  
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
      -ms-border-radius: 10px;
       -o-border-radius: 10px;
          border-radius: 10px;
}

#header-internal li {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}


#content {
  padding: 10px;
  
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
      -ms-border-radius: 10px;
       -o-border-radius: 10px;
          border-radius: 10px;
}

#content img {
  display: block;
  margin-left: auto;
  margin-right: auto
}

#footer {
  padding: 10px;
  
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
      -ms-border-radius: 10px;
       -o-border-radius: 10px;
          border-radius: 10px;
}
