/* /////////////////////////////////////////////////////////////////////////////

Copyright Guy Taylor 2011

Images and Design Copyright Richard Hanrahan 2011

///////////////////////////////////////////////////////////////////////////// */

/*
  * FCBE29
  * EA6A11
  * FFCD54
  * FFFFFF
  * FFDD8A
*/
body, html {
  height: 500px;
  width: 280px;
  
  margin: 0px;
  padding: 0px;
  
  color: #999;
  text-align: center;
  font-size: 0.8em;
  font-family: Arial, Helvetica, sans-serif;
  
  background-color: #FFDD8A;
  
  overflow-x: hidden;
  overflow-y: hidden;
  
  text-transform: uppercase;
}

#content {
  width: 250px;
  height: 425px;
  
  /* border-radius: 25px; */
  margin: 15px;
  
  padding: 0px;
  color: #999;
  background-color: #EA6A11; /* Update jplayer as well */
}

h1, h2 {
  margin: 0px;
  border-width: 0px;
  padding: 0px;
  
  font-family: 'PT Sans', arial, serif;
  font-weight: bold;
}

h1 {
  font-size: 77px;
  color: #FFFFFF
}

h2 {
  font-size: 72px;
}

#header {
  width: 250px;
}

#header-fresh {
  float: left;
  
  text-align: right;
  letter-spacing: normal;
  line-height: 65px;
  
  width: 215px;
  height: 154px;
}

#header-player {
  float: right;
  background-image: url('header-player.png');
  background-repeat: no-repeat;
  width: 35px;
  height: 154px;
}

#header-player h2 {
  display: none;
}

#header-control {
  text-align: center;
  
  padding: 0px;
  width: 75px;
  height: 75px;
  
  position: absolute;
  left: 20px;
  top: 90px;
}

#header-control img {
  width: 75px;
  height: 75px;
}

#subheader {
  text-align: left;
}

#showinfo {
  background-color: #FFCD54;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #EA6A11;
}

#showinfo-img {
  float: left;
  width: 100px;
  height: 50px;
}

#showinfo a {
  color: #FFFFFF;
}

#nowplaying {
  background-color: #FCBE29;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #000000;
}

p {
  margin: 0px;
}

.webcamimg { /* 4/3 */
  width: 116px;
  height: 87px;
}

#webcam1 {
  float: left;
  margin-left: 4px;
}

#webcam2 {
  float: right;
  margin-right: 4px;
}

#next {
  text-align: left;
  font-size: 16px;
  color: #FFFFFF;
  margin: 5px;
}

#footer {
  background-color: #FFDD8A;
  text-align: center;
  height: 30px;
  font-size: 15px;
}

#footer-hifi {
  float: left;
  background-color: #EA6A11;
  width: 83px;
  
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#footer-lofi {
  float: right;
  background-color: #EA6A11;
  width: 83px;
  
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}


#footer-exit {
  background-color: #EA6A11;
  width: 84px;
  
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  
  margin-left: auto;
  margin-right: auto;
}

.footer-item {
  background-color: #FFCD54;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

/* ////////////////////////////////////////////////// */

#radio {
  height: 1px;
  padding: 0px;
  margin: 0px;
  border-width: 0px;
}

.trackInfo {
  width: 250px;
  
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  
  padding-left: 10px;
  padding-right: 10px;
  
  text-align: left;
  
  background-color: #200F0C;
}

