body, html {
  height: 500px;
  width: 400px;
  
  margin: 0px;
  padding: 0px;
  
  color: #999;
  text-align: center;
  font-size: 0.8em;
  font-family: Arial, Helvetica, sans-serif;
  
  /* background-image: url(background.png);
  background-repeat: repeat-x;
  background-position: left bottom;
  background-attachment: fixed; */
  background-color: #200F0C;
  
  overflow-x: hidden;
  overflow-y: hidden;
}

#content {
  width: 300px;
  height: 400px;
  
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  
  padding: 20px 20px 20px 20px;
  color:#999;
  background-color: #782E00; /* need to update jplayer as well */
}

#content div {
  padding-bottom: 7px;
  padding-top: 7px;
}

#header img { /* 400/83 */
  width: 300px;
  height: 62px;
  padding: 0px;
}

.webcamimg { /* 4/3 */
  width: 128px;
  height: 96px;
}

#webcam1 {
  float: left;
  margin-left: 19px;
}

#webcam2 {
  float: right;
  margin-right: 19px;
}

#throbber1 {
  position: relative;
  left: -16px;
  top: 82px;
  float: left;
  display: none;
}

#throbber2 {
  position: relative;
  left: 132px;
  top: 82px;
  float: right;
  display: none;
}

a {
  color: #999;
}

#radio {
  /* display: none; */
}

.trackInfo {
  width: 250px;
  
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  
  padding-left: 10px;
  padding-right: 10px;
  
  text-align: left;
  
  background-color: #200F0C;
}
/*
.trackInfo:nth-child(odd) {
  text-align: right;
}
*/

#now, #next, #control {
  width: 100px;
  
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  
  padding-left: 10px;
  padding-right: 10px;
  
  background-color: #200F0C;
}

#now {
  float: left;
  visibility: hidden;
  text-align: left;
}

#next {
  float: right;
  visibility: hidden;
  text-align: right;
}

#control {
  background-color: #782E00;
  text-align: center;
  padding: 0px !important;
}

#control img {
  width: 40px;
  height: 40px;
}

h2 {
  font-size: 1.2em;
	padding: 0px;
	margin: 0px;
}
